@page "/dynamic-items"
@rendermode InteractiveServer
@inject IEnumerable<IDynamicItemViewModel> DynamicItemViewModels

<h1>DynamicItemsPage</h1>

@foreach(var itemVm in DynamicItemViewModels)
{
    <p>Dynamic ViewModel Name: @itemVm.Name</p>
    <hr />
    <RegisteredViewFor @key="@itemVm.Name" Vm="itemVm" />
    <hr />
}