@inherits MvvmComponentBase<CounterViewModel>

<h3>CounterView</h3>

<p>Count: @Vm.Count</p>

<FluentButton
    OnClick="@Vm.IncrementCountCommand.Bind(this)"
    Disabled="@(!Vm.IncrementCountCommand.CanExecute(null))">
    Increment (from RelayCommand)
</FluentButton>

<FluentButton @onclick="@(() => Vm.Count++)">
    Increment (from lambda)
</FluentButton>
